.plugin-web-update-notice-anchor {
  cursor: pointer;
}
.vite-plugin-web-update-notice {
  position: fixed;
  right: 24px;
  bottom: 24px;
  user-select: none;
}
.vite-plugin-web-update-notice-content {
  background-color: #fff;
  border-radius: 4px;
  color: #000000d9;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
  padding: 12px 16px;
  line-height: 1.5715;
  width: 280px;
}
.vite-plugin-web-update-notice-content-title {
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 24px;
}
.vite-plugin-web-update-notice-content-desc {
  font-size: 13px;
  line-height: 24px;
}
.vite-plugin-web-update-notice-refresh-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px 12px;
  line-height: 1;
  border-radius: 4px;
  transition: background-color .2s linear;
  color: #1890ff;
}

.vite-plugin-web-update-notice-refresh-btn:hover {
  background-color: rgba(64,87,109,.1);
}
